<%= form_for(@cliente) do |f| %>

    <%= render 'shared/error', :object => @cliente %>

  <div class="box-left">
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  </div>
  <div class="actions">
    <input type="button" onclick="location.href='<%= clientes_path %>'" value="<%= t('cliente.new.back_link_label') %>" />
    <%= f.submit %>
  </div>
<% end %>
