<h1><%= t('cliente.index.title') %></h1>
<center>
<div class="box-center">
<%= form_tag clientes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :nome, params[:nome] %>
    <%= submit_tag t('cliente.index.search_button_label'), :name => nil %>
  </p>
<% end %>
</div>

<div class="box-left">
<div class="list">
<center>
<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nome %></td>
    <td><%= link_to t('cliente.index.show_link_label'), cliente %></td>
    <td><%= link_to t('cliente.index.edit_link_label'), edit_cliente_path(cliente) %></td>
    <td><%= link_to t('cliente.index.destroy_link_label'), cliente, :method => :delete, :data => { :confirm => t('general.are_you_rure') } %></td>
  </tr>
<% end %>
</table>
</div>
</div>
</center>
<br />

<%= will_paginate @clientes %>

<br />
<input type="button" onclick="location.href='<%= new_cliente_path %>'" value="<%= t('cliente.index.new_button_label') %>" />

