<%= form_for(@socio) do |f| %>
  <% if @socio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@socio.errors.count, "error") %> prohibited this socio from being saved:</h2>

      <ul>
      <% @socio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :percentual %><br />
    <%= f.text_field :percentual %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :senha %><br />
    <%= f.text_field :senha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
