<%= form_for(@socio) do |f| %>

  <%= render 'shared/error', :object => @socio %>
    
  <div class="box-left">
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :capital %><br />
    <%= f.text_field :capital %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :senha %><br />
    <%= f.password_field :senha %>
  </div>
  <div class="field">
    <%= f.label :senha_confirmation %><br />
    <%= f.password_field :senha_confirmation %>
  </div>
  </div>
  <div class="actions">
    <input type="button" onclick="location.href='<%= socios_path %>'" value="<%= t('socio.new.back_link_label') %>" />
    <%= f.submit %>    
  </div>
<% end %>
