<h1><%= t('socio.index.title') %></h1>

<%= form_tag socios_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :nome, params[:nome] %>
    <%= submit_tag t('socio.index.search_button_label'), :name => nil %>
  </p>
<% end %>


<table>
  <tr>
    <th>Nome</th>
    <th>Percentual</th>
    <th>Cpf</th>
    <th>Senha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @socios.each do |socio| %>
  <tr>
    <td><%= socio.nome %></td>
    <td><%= socio.percentual %></td>
    <td><%= socio.cpf %></td>
    <td><%= socio.senha %></td>
    <td><%= link_to t('socio.index.show_link_label'), socio %></td>
    <td><%= link_to t('socio.index.edit_link_label'), edit_socio_path(socio) %></td>
    <td><%= link_to t('socio.index.destroy_link_label'), socio, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @socios %>

<br />

<%= link_to t('socio.index.new_button_label'), new_socio_path %>
