<h1><%= t('socio.index.title') %></h1>
<center>
<div class="box-center">
<%= form_tag socios_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :nome, params[:nome] %>
    <%= submit_tag t('socio.index.search_button_label'), :name => nil %>
  </p>
<% end %>
</div>
</center>


<div class="box-left">
<div class="list">
<center>
<table>
  <tr>
    <th>Nome</th>
    <th>Percentual</th>
    <th>Cpf</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @socios.each do |socio| %>
  <tr>
    <td><%= socio.nome %></td>
    <td><%= number_to_percentage socio.percentual, :precision => 0 %></td>
    <td><%= socio.cpf %></td>
    <td><%= link_to t('socio.index.show_link_label'), socio %></td>
    <td><%= link_to t('socio.index.edit_link_label'), edit_socio_path(socio) %></td>
    <td><%= link_to t('socio.index.destroy_link_label'), socio, :method => :delete, :data => { :confirm => t('general.are_you_rure') } %></td>
  </tr>
<% end %>
</table>
</center>
</div>
</div>

<br />

<%= will_paginate @socios %>

<br />
<input type="button" onclick="location.href='<%= new_socio_path %>'" value="<%= t('socio.index.new_button_label') %>" />

