<%= form_for(@emitente) do |f| %>

  <%= render 'shared/error', :object => @emitente %>

  <div class="box-left">
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field(:nome, {:required => 'required'}) %>
    <p class="hint"><%= t('emitente.form.nome.hint') %></p>
  </div>
  </div>
  <div class="actions">
    <input type="button" onclick="location.href='<%= emitentes_path %>'" value="<%= t('emitente.new.back_link_label') %>" />
    <%= f.submit %>
  </div>
<% end %>
