<h1><%= t('emitente.index.title') %></h1>
<center>
<div class="box-center">
<%= form_tag emitentes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :nome, params[:nome] %>
    <%= submit_tag t('emitente.index.search_button_label'), :name => nil %>
  </p>
<% end %>
</div>
</center>

<div class="box-left">
<div class="list">
<center>
<table>
  <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emitentes.each do |emitente| %>
  <tr>    
    <td><%= emitente.nome %></td>
    <td><%= emitente.cpf %></td>
    <td><%= link_to t('emitente.index.show_link_label') , emitente %></td>
    <td><%= link_to t('emitente.index.edit_link_label'), edit_emitente_path(emitente) %></td>
    <td>
      <% if(emitente.cheque.count == 0): %>
      <%= link_to t('emitente.index.destroy_link_label'), emitente, :method => :delete, :data => { :confirm => t('general.are_you_rure') } %>
      <% else %>
      Remover
      <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>
</div>
</center>
<br />

<%= will_paginate @emitentes %>

<br />

<br />
<input type="button" onclick="location.href='<%= new_emitente_path %>'" value="<%= t('emitente.index.new_button_label') %>" />
