<h1>Listing municipios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Uf</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @municipios.each do |municipio| %>
  <tr>
    <td><%= municipio.nome %></td>
    <td><%= municipio.uf %></td>
    <td><%= link_to 'Show', municipio %></td>
    <td><%= link_to 'Edit', edit_municipio_path(municipio) %></td>
    <td><%= link_to 'Destroy', municipio, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Municipio', new_municipio_path %>
