<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @municipio.nome %>
</p>

<p>
  <b>Uf:</b>
  <%= @municipio.uf %>
</p>


<%= link_to 'Edit', edit_municipio_path(@municipio) %> |
<%= link_to 'Back', municipios_path %>
