<%= form_for(@banco) do |f| %>
  
  <%= render 'shared/error', :object => @banco %>
  
  <div class="box-left">
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
