<%= form_for(@banco) do |f| %>
  
  <%= render 'shared/error', :object => @banco %>
  
  <div class="box-left">
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field(:nome, {:required => 'required'}) %>
    <p class="hint"><%= t('banco.form.nome.hint') %></p>
  </div>
  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field(:codigo,  {:required => 'required'}) %>
    <p class="hint"><%= t('banco.form.codigo.hint') %></p>
  </div>
  </div>
  <div class="actions">
    <input type="button" onclick="location.href='<%= bancos_path %>'" value="<%= t('banco.new.back_link_label') %>" />
    <%= f.submit %>
  </div>
<% end %>
