<%= form_for(@historico_cheque) do |f| %>
  <% if @historico_cheque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historico_cheque.errors.count, "error") %> prohibited this historico_cheque from being saved:</h2>

      <ul>
      <% @historico_cheque.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entrada %><br />
    <%= f.date_select :entrada %>
  </div>
  <div class="field">
    <%= f.label :saida %><br />
    <%= f.date_select :saida %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :cheque %><br />
    <%= f.text_field :cheque %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
