<h1>Listing tipo_operacao_financeiras</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_operacao_financeiras.each do |tipo_operacao_financeira| %>
  <tr>
    <td><%= tipo_operacao_financeira.nome %></td>
    <td><%= link_to 'Show', tipo_operacao_financeira %></td>
    <td><%= link_to 'Edit', edit_tipo_operacao_financeira_path(tipo_operacao_financeira) %></td>
    <td><%= link_to 'Destroy', tipo_operacao_financeira, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo operacao financeira', new_tipo_operacao_financeira_path %>
