<%= form_for(@operacao_financeira) do |f| %>
  <% if @operacao_financeira.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operacao_financeira.errors.count, "error") %> prohibited this operacao_financeira from being saved:</h2>

      <ul>
      <% @operacao_financeira.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :socio %><br />
    <%= f.text_field :socio %>
  </div>
  <div class="field">
    <%= f.label :tipo_operacao_financeira %><br />
    <%= f.text_field :tipo_operacao_financeira %>
  </div>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
