<h1>Listing operacao_financeiras</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Socio</th>
    <th>Tipo operacao financeira</th>
    <th>Valor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @operacao_financeiras.each do |operacao_financeira| %>
  <tr>
    <td><%= operacao_financeira.descricao %></td>
    <td><%= operacao_financeira.socio %></td>
    <td><%= operacao_financeira.tipo_operacao_financeira %></td>
    <td><%= operacao_financeira.valor %></td>
    <td><%= link_to 'Show', operacao_financeira %></td>
    <td><%= link_to 'Edit', edit_operacao_financeira_path(operacao_financeira) %></td>
    <td><%= link_to 'Destroy', operacao_financeira, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Operacao financeira', new_operacao_financeira_path %>
