<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @operacao_financeira.descricao %>
</p>

<p>
  <b>Socio:</b>
  <%= @operacao_financeira.socio %>
</p>

<p>
  <b>Tipo operacao financeira:</b>
  <%= @operacao_financeira.tipo_operacao_financeira %>
</p>

<p>
  <b>Valor:</b>
  <%= @operacao_financeira.valor %>
</p>


<%= link_to 'Edit', edit_operacao_financeira_path(@operacao_financeira) %> |
<%= link_to 'Back', operacao_financeiras_path %>
