<%= form_for(@municipio_dominio) do |f| %>
  <% if @municipio_dominio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@municipio_dominio.errors.count, "error") %> prohibited this municipio_dominio from being saved:</h2>

      <ul>
      <% @municipio_dominio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :uf %><br />
    <%= f.text_field :uf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
