<center>
    <h1>Áreas do sistema</h1>
    <ul>
        <li><%= link_to 'Bancos', bancos_path %></li>
        <li><%= link_to 'Cheques', bancos_path %></li>
        <li><%= link_to 'Clientes', bancos_path %></li>
        <li><%= link_to 'Emitentes', bancos_path %></li>
        <li><%= link_to 'Sócios', bancos_path %></li>
    </ul>
</center>
