<h1>Listing parcela_despesas</h1>

<table>
  <tr>
    <th>Despesa</th>
    <th>Vencimento</th>
    <th>Valor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parcela_despesas.each do |parcela_despesa| %>
  <tr>
    <td><%= parcela_despesa.despesa %></td>
    <td><%= parcela_despesa.vencimento %></td>
    <td><%= parcela_despesa.valor %></td>
    <td><%= link_to 'Show', parcela_despesa %></td>
    <td><%= link_to 'Edit', edit_parcela_despesa_path(parcela_despesa) %></td>
    <td><%= link_to 'Destroy', parcela_despesa, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parcela despesa', new_parcela_despesa_path %>
