<h1>Listing pais</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pais.each do |pai| %>
  <tr>
    <td><%= pai.nome %></td>
    <td><%= link_to 'Show', pai %></td>
    <td><%= link_to 'Edit', edit_pai_path(pai) %></td>
    <td><%= link_to 'Destroy', pai, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pai', new_pai_path %>
