<h1>Listing situacao_cheques</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @situacao_cheques.each do |situacao_cheque| %>
  <tr>
    <td><%= situacao_cheque.nome %></td>
    <td><%= link_to 'Show', situacao_cheque %></td>
    <td><%= link_to 'Edit', edit_situacao_cheque_path(situacao_cheque) %></td>
    <td><%= link_to 'Destroy', situacao_cheque, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Situacao cheque', new_situacao_cheque_path %>
