<%= form_for(@item) do |f| %>

  <%= render 'shared/error', :object => @item %>

  <div class="field">
    <%= f.label :despesa %><br />
    <%= f.select(:despesa_id, options_from_collection_for_select(Despesa.all, :id, :nome), {:include_blank => t('despesa.form.tipo_despesa.no_selection_label'), :required => 'required'}) %>
    <p class="hint"><%= t('despesa.form.tipo_despesa.hint') %></p>
  </div>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :vencimento %><br />
    <%= f.date_select :vencimento %>
  </div>
  <div class="field">
    <%= f.label :situacao_item %><br />
    <%= f.select(:situacao_item_id, options_from_collection_for_select(SituacaoItem.all, :id, :nome), {:include_blank => t('despesa.form.tipo_despesa.no_selection_label')}, {:required => 'required'}) %>
    <p class="hint"><%= t('item.form.tipo_despesa.hint') %></p>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
