<%= javascript_include_tag "jquery.maskMoney.js" %>

<script type="text/javascript">
    $(document).ready(function() {
        $("#cheque_valor").maskMoney({symbol:'R$ ', showSymbol:true, thousands:'.', decimal:',', symbolStay: true});
        $('form').submit(function(e) {
            valor = $('#cheque_valor').val();
            valor = valor.replace('R$ ', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '').replace(',', '.');
            $('#cheque_valor').val(valor);
        });
    });
</script>

<%= form_for(@cheque) do |f| %>
  
  <%= render 'shared/error', :object => @cheque %>
  
  <div class="field">
    <%= f.label :tipo_juro %><br />
    <%= f.select(:tipo_juro_id, TipoJuro.all.collect {|t| [t.nome, t.id]} , {:include_blank => t('cheque.form.banco.no_selection_label')}, {:required => 'required'}) %>
    <p class="hint"><%= t('cheque.form.tipo_juro.hint') %></p>
  </div>
  
  <div class="field">
    <%= f.label :banco %><br />
    <%= f.select(:banco_id, Banco.all.collect {|t| [t.nome, t.id]}, {:include_blank => t('cheque.form.banco.no_selection_label')}, {:required => 'required'}) %>
    <p class="hint"><%= t('cheque.form.banco.hint') %></p>
  </div>
  
  <div class="field">
    <%= f.label :emitente %><br />
    <%= f.select(:emitente_id, Emitente.all.collect {|t| [t.nome, t.id]}, {:include_blank => t('cheque.form.emitente.no_selection_label')}, {:required => 'required'}) %>
    <p class="hint"><%= t('cheque.form.emitente.hint') %></p>
  </div>
  
  <div class="field">
    <%= f.label :cliente %><br />
    <%= f.select(:cliente_id, Cliente.all.collect {|t| [t.nome, t.id]}, {:include_blank => t('cheque.form.cliente.no_selection_label')}, {:required => 'required'}) %>
    <p class="hint"><%= t('cheque.form.cliente.hint') %></p>
  </div>
  
  <div class="field">
    <%= f.label :situacao_cheque %><br />
    <%= f.select(:situacao_cheque_id, SituacaoCheque.all.collect {|t| [t.nome, t.id]}, {:include_blank => t('cheque.form.situacao_cheque.no_selection_label')}, {:required => 'required'}) %>
    <p class="hint"><%= t('cheque.form.situacao_cheque.hint') %></p>
  </div>

  
  <div class="field">
    <%= f.label :numero %><br />
    <%= f.text_field(:numero, {:required => 'required'}) %>
    <p class="hint"><%= t('cheque.form.numero.hint') %></p>
  </div>
  
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field(:valor, {:required => 'required', :disabled => !f.object.new_record?}) %>
    <p class="hint"><%= t('cheque.form.valor.hint') %></p>
  </div>
  
  <div class="field">
    <%= f.label :data_troca %><br />
    <%= f.date_select(:data_troca, options = { :order => calendar_fields_order, :use_month_numbers => true}) %>
  </div>
  
  <div class="field">
    <%= f.label :vencimento %><br />
    <%= f.date_select(:vencimento, options = { :order => calendar_fields_order, :use_month_numbers => true}) %>
  </div>
  
  <div class="field">
    <%= f.label :agencia %><br />
    <%= f.text_field(:agencia, {:required => 'required'}) %>
    <p class="hint"><%= t('cheque.form.agencia.hint') %></p>
  </div>
  
  <div class="field">
    <%= f.label :conta %><br />
    <%= f.text_field(:conta, {:required => 'required'}) %>
    <p class="hint"><%= t('cheque.form.conta.hint') %></p>
  </div>
  
  <div class="field">
    <%= f.label :taxa_juros %><br />
    <%= f.text_field(:taxa_juros, {:required => 'required'}) %> % 
    <p class="hint"><%= t('cheque.form.taxa_juros.hint') %></p>
  </div>
  
  
  
  <div class="actions">
    <input type="button" onclick="location.href='<%= cheques_path %>'" value="<%= t('cheque.new.back_link_label') %>" />
    <%= f.submit %>
  </div>
  
<% end %>
