<h1><%= t('cheque.index.title') %></h1>

<center>
<div class="box-center">
<%= form_tag cheques_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :numero, params[:numero] %>
    <%= submit_tag t('cheque.index.search_button_label'), :name => nil %>
  </p>
<% end %>
</div>
</center>

<div class="box-left">
<div class="list">
<center>
<table>
  <tr>
    <th>Lote</th>
    <th>Numero</th>
    <th>Valor</th>
    <th>Vencimento</th>
    <th>Agencia</th>
    <th>Conta</th>
    <th>Banco</th>
    <th>Emitente</th>
    <th>Cliente</th>
    <th>Socio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cheques.each do |cheque| %>
  <tr>
    <td><%= cheque.lote_cheque ? cheque.lote_cheque : 'Não vinculado a nenhum lote' %></td>
    <td><%= cheque.numero %></td>
    <td><%= number_to_currency cheque.valor %></td>
    <td><%= cheque.vencimento %></td>
    <td><%= cheque.agencia %></td>
    <td><%= cheque.conta %></td>
    <td><%= cheque.banco %></td>
    <td><%= cheque.emitente %></td>
    <td><%= cheque.cliente %></td>
    <td><%= cheque.socio %></td>
    <td><%= link_to t('cheque.index.show_link_label'), cheque %></td>
    <td><%= link_to t('cheque.index.edit_link_label'), edit_cheque_path(cheque) %></td>
    <td><%= link_to t('cheque.index.destroy_link_label'), cheque, :method => :delete, :data => { :confirm => t('general.are_you_rure') } %></td>
  </tr>
<% end %>
</table>

</div>
</div>
</center>

<br />
<%= will_paginate @cheques %>

<br />
<input type="button" onclick="location.href='<%= new_cheque_path %>'" value="<%= t('cheque.index.new_button_label') %>" />
<input type="button" onclick="location.href='<%= new_lote_cheque_path %>'" value="<%= t('cheque.index.new_lote_button_label') %>" />

