<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @cheque.numero %>
</p>

<p>
  <b>Taxa de juros:</b>
  <%= @cheque.taxa_juros %>
</p>

<p>
  <b>Tipo de juros:</b>
  <%= @cheque.tipo_juro %>
</p>



<p>
  <b>Valor:</b>
  <%= @cheque.valor %>
</p>

<p>
  <b>Valor atual:</b>
  <%= @cheque.valor_atual %>
</p>

<p>
  <b>Vencimento:</b>
  <%= @cheque.vencimento %>
</p>

<p>
  <b>Agencia:</b>
  <%= @cheque.agencia %>
</p>

<p>
  <b>Conta:</b>
  <%= @cheque.conta %>
</p>

<p>
  <b>Banco:</b>
  <%= @cheque.banco %>
</p>

<p>
  <b>Emitente:</b>
  <%= @cheque.emitente %>
</p>

<p>
  <b>Cliente:</b>
  <%= @cheque.cliente %>
</p>

<p>
  <b>Socio:</b>
  <%= @cheque.socio %>
</p>
<p>
  <b>Situação:</b>
  <%= @cheque.situacao_cheque %>
</p>

<%= link_to t('cheque.show.edit_link_label'), edit_cheque_path(@cheque) %> |
<%= link_to t('cheque.show.back_link_label'), cheques_path %>
