<!DOCTYPE html>
<html>
<head>
  <title>Factory</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <p>
        <strong><%= link_to 'Factory', home_path %></strong> versão <%= application_version %>
    </p>
    <div style="text-align: right;">
        <strong>
        <% if logged_in? %>
            <%= link_to t('session.logout'), logout_path %>
        <% else %>
            <%= link_to t('session.login'), login_path %>
        <% end %>        
        </strong>
        <p>
          <b>Montante real da factory:</b><%= montante_real %> <br />
          <b>Montante aplicado da factory:</b><%= montante_aplicado %> <br />
        </p>
    </div>

    

<%= yield %>

</body>
</html>
