<!DOCTYPE html>
<html>
<head>
  <title>Factory</title>
  <%= stylesheet_link_tag  "style", :media => "all" %>
  <%= stylesheet_link_tag  "jquery-ui-1.8.21.custom", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(document).ready(function(){
               
        $('#corpo').fadeIn(400);
        $('#dock2').Fisheye(
				{
					maxWidth: 60,
					items: 'a',
					itemsText: 'span',
					container: '.dock-container2',
					itemWidth: 40,
					proximity: 80,
					alignment : 'left',
					valign: 'bottom',
					halign : 'center'
				}
			);
			
			
    // Dialog
				$('#dialog').dialog({
					autoOpen: true,
					width: 600,
					buttons: {
						"Ok": function() {
							$(this).dialog("close");
						}						
					}
				});
			
			  // Calculadora
  //$('#calculadora').dialog({
	//  autoOpen: false,
  //  width: 400,
  //  height: 600											
  //});
			  
      
        // Calculadora Link
				$('#calculadora_link').click(function(){
					  $('body').append('<div id="calculadora_app"></div>')
	  				$('#calculadora_app').load("<%= calculadora_path %>");
				});
			
    });  
                 
    </script>
</head>
<body>    
    

    <div class="ui-widget">
        
        <div class="ui-state-highlight ui-corner-all" style="margin-top: 5px; padding: 0 .7em;">
	        <p>
		        <strong><%= link_to 'Factory', home_path %></strong> versão <%= application_version %>
		    </p>
		    
		    <% if notice != nil %>
		    <!-- ui-dialog -->
		    <div id="dialog" title="Factory">
			    <p id="notice"><%= notice %></p>
		    </div>
		    
		    <% end %>
		    
		    
		    
		    <% if logged_in? %>
		    
		    <div id="statusreport">
		    		      
		    
		      <script type="text/javascript">
		        $(document).ready(function() {
		          $('#factory_info').hide();
		          
		          $('#statusreportswitch').click(function(event) {
		            event.preventDefault();
                if ($('#statusreportswitch').html() == '+') {
                  //Expande
                  $('#factory_info').show('fast');
                  $('#statusreportswitch').html('-')
                  
                  
                  
                } else {
                  //Recolhe
                  $('#factory_info').hide('fast');
                  $('#statusreportswitch').html('+')
                }
		          });
		        });
		      </script>
		    
		      

		      
		      <p>Logado como  <b><%= current_user.nome %></b></p>
		      
		      <div style="text-align: right; margin-bottom: 2px;"><button id="statusreportswitch" style="height: 27px;">+</button></div>
		      
		      <div id="factory_info">
		      <p>
                <b>Montante real da factory:</b><%= number_to_currency montante_real, :unit => money_symbol, :separator => money_separator, :delimiter => money_delimiter %> <br />
                <b>Montante aplicado da factory:</b><%= number_to_currency montante_aplicado, :unit => money_symbol, :separator => money_separator, :delimiter => money_delimiter %> <br />
                <b>Montante da factory (ganho realizado + não ganho não realizado):</b> <%= number_to_currency montante_factory, :unit => money_symbol, :separator => money_separator, :delimiter => money_delimiter %> <br />
                <b>Minha porcentagem individual hoje:</b><%= number_to_percentage(current_user.percentual,  :precision => 0) %> <br />
                <b>Meu montante individual real hoje:</b> <%= number_to_currency current_user.capital, :unit => money_symbol, :separator => money_separator, :delimiter => money_delimiter %>
          </p>
		      </div>
		      
		    </div>
		    
		    
	      <% end %>
        </div>
    </div>
    <div id="corpo">       
    <%= yield %>	
    </div>    
    
<!--dock -->
<% if logged_in? %>

<div style="bottom: 0px; position: fixed; width: 100%; margin: auto; " >
<div class="dock" id="dock2" >    
    <div class="dock-container2">
        <a class="dock-item2" href="<%= home_path %>"><span>Início</span><%= image_tag 'home.png' %></a>
        <a class="dock-item2" href="<%= bancos_path %>"><span>Bancos</span><%= image_tag 'banco.png' %></a> 
      <a class="dock-item2" href="<%= lote_cheques_path %>"><span>Lotes de cheques</span><%= image_tag 'lote_cheque.png' %></a> 
	    <a class="dock-item2" href="<%= cheques_path %>"><span>Cheques</span><%= image_tag 'cheque.png' %></a> 
	    <a class="dock-item2" href="<%= divida_clientes_path %>"><span>Dívidas</span><%= image_tag 'operacoes_cliente.png' %></a> 
	    <a class="dock-item2" href="<%= clientes_path %>"><span>Clientes</span><%= image_tag 'cliente.png' %></a> 
	    <a class="dock-item2" href="<%= emitentes_path %>"><span>Emitentes</span><%= image_tag 'emitente.png' %></a> 
	    <a class="dock-item2" href="<%= socios_path %>"><span>Sócios</span><%= image_tag 'socio.png' %></a> 
	    <a class="dock-item2" href="<%= despesas_path %>"><span>Grupos de despesas</span><%= image_tag 'grupo_despesa.png' %></a>
	    <a class="dock-item2" href="<%= items_path %>"><span>Ítens de despesa</span><%= image_tag 'despesa.png' %></a>  
	    <a class="dock-item2" href="#" id="calculadora_link"><span>Calculadora</span><%= image_tag 'calculator.png' %></a>
	    <a class="dock-item2" href="<%= relatorios_path %>"><span>Relatórios</span><%= image_tag 'relatorio.png' %></a> 
	    <a class="dock-item2" href="<%= logout_path %>"><span>Sair</span><%= image_tag 'sair_2.png' %></a> 
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#dock2').Fisheye(
				{
					maxWidth: 60,
					items: 'a',
					itemsText: 'span',
					container: '.dock-container2',
					itemWidth: 40,
					proximity: 80,
					alignment : 'left',
					valign: 'bottom',
					halign : 'center'
				}
			);
    });
</script>
<% end %>	   
</body>
</html>
